<h1>
  {{title}}
</h1>
 






<div class="w3-container">
  <h1>Using w3-display-container</h1>

  <div class="w3-display-container w3-green" style="height:300px;">
    <div class="w3-display-topleft">Top Left  <app-shotclock-tool></app-shotclock-tool> </div>
    <div class="w3-display-topright">Top Right</div>
    <div class="w3-display-bottomleft">Bottom Left  <app-score-tool></app-score-tool></div>
    <div class="w3-display-bottomright">Bottom Right</div>
    <div class="w3-display-left">Left<<app-timer-tool></app-timer-tool>/div>
    <div class="w3-display-right">Right</div>
    <div class="w3-display-middle">Middle<app-timer-tool></app-timer-tool></div>
    <div class="w3-display-topmiddle w3-hide-small">Top Middle</div>
    <div class="w3-display-bottommiddle w3-hide-small">Bottom Middle</div>
  </div>
</div>